.App {
  background: #fffcfa;
  overflow: hidden;
}

.App-header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #2f3d4c;
}

button {
  border-radius: 2px;
  padding: 1vh;
  border: none;
}

h1 {
  font-weight: 400;
}

.authProvider {
  background-color: white;
  font-family: inherit;
}

.authProvider-google {
  background-color: #ffcc99;
  color: #2f3d4c;
}
